.banner {
    height: 25rem;
    background-color: #0096FF;
    border-radius: 0%;
}

.programar_logo_bloque {
    width: 1rem; 
    max-height: 2.5rem;
    padding-left: 1rem;
    
}

.programar_logo {
    height: auto;
    width: 7.5rem;
}

.login_btn {
    --bs-btn-padding-y: .2rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .80rem;
}

.carousel_p {
    height: 25rem;
    width: 100%;
}

.education_header {
    font-size: 4rem;
}
.proyect_header{
    font-size: 4rem;
}
.hard_soft {
    color: white;
    font-size: 4rem;
}

